
<div class="mod mod-c-accessrequest co-accessrequest">
  <a class="logo" href="#">
      <img src="../../../assets/login/logo.png" alt="Logo" height="40">
  </a>

  <div class="co-accessrequest__content">  
      <h2 class="ca-h2">Request Access</h2>  
      
      <p class="ca-p">
          To activate your access to the Bosch Building Installation Technologies System you have to register. 
          With a click on the 'Request Access' button,  you agree that your personal data will be processed. 
      </p> 
  </div> 
  
  <form class="co-accessrequest__settings js-co-accessrequest__settings">          
      <div class="js-co-settings__elem cm-setting__elem">  
          <div class="cm-setting__preview cm-setting__bar js-cm-setting__bar">  
              <label for="email" class="cm-setting__label">Your email *</label> 
              <div class="cm-setting__group">    
                  <div class="cm-setting__group-wrap">  
                      <input class="cm-setting__input js-cm-setting__input" placeholder="Please insert your email" value="" id="email" type="email" name="email" required="">  
                  </div>
              </div>    
          </div>
      </div>
      <div class="js-co-settings__elem cm-setting__elem">  
          <div class="cm-setting__preview cm-setting__bar js-cm-setting__bar">  
              <label for="email" class="cm-setting__label">Your email *</label> 
              <div class="cm-setting__group">    
                  <div class="cm-setting__group-wrap">  
                      <input class="cm-setting__input js-cm-setting__input" placeholder="Please insert your email" value="" id="email" type="email" name="email" required="">  
                  </div>
              </div>    
          </div>
      </div>
      <div class="js-co-settings__elem cm-setting__elem">  
          <div class="cm-setting__preview cm-setting__bar js-cm-setting__bar">  
              <label for="email" class="cm-setting__label">Your email *</label> 
              <div class="cm-setting__group">    
                  <div class="cm-setting__group-wrap">  
                      <input class="cm-setting__input js-cm-setting__input" placeholder="Please insert your email" value="" id="email" type="email" name="email" required="">  
                  </div>
              </div>    
          </div>
      </div>
      <div class="js-co-settings__elem cm-setting__elem">  
          <div class="cm-setting__preview cm-setting__bar js-cm-setting__bar">  
              <label for="email" class="cm-setting__label">Your email *</label> 
              <div class="cm-setting__group">    
                  <div class="cm-setting__group-wrap">  
                      <input class="cm-setting__input js-cm-setting__input" placeholder="Please insert your email" value="" id="email" type="email" name="email" required="">  
                  </div>
              </div>    
          </div>
      </div>      

      <div class="cm-btn-bar cm-btn-bar--centered cm-btn-bar--section js-cm-setting__actions">  
          <button type="submit" class="btn-signin">  
              <span class="js-cm-setting__btn-label">Request Access</span>  
          </button>  
      </div> 
  </form>
</div>