<app-header></app-header>

<body>
    <main>
        <div class="container">
            <ul>
                <li><a routerLink="/add-ip-camera">Add IP Camera</a></li>
                <li><a routerLink="/consult-ip-cameras">Consult IP Camera</a></li>
                <li><a routerLink="/edit-ip-camera">Edit IP Camera</a></li>
            </ul>

            <ul>
                <li><a routerLink="/add-analog-camera">Add Analog Camera</a></li>
                <li><a routerLink="/consult-analog-cameras">Consult Analog Camera</a></li>
                <li><a routerLink="/edit-analog-camera">Edit Analog Camera</a></li>
            </ul>

            <ul>
                <li><a routerLink="/add-ip-recording">Add IP Recording</a></li>
                <li><a routerLink="/consult-ip-recordings">Consult IP Recording</a></li>
                <li><a routerLink="/edit-ip-recording">Edit IP Recording</a></li>
            </ul>

            <ul>
                <li><a routerLink="/add-analog-recording">Add Analog Recording</a></li>
                <li><a routerLink="/consult-analog-recordings">Consult Analog Recording</a></li>
                <li><a routerLink="/edit-analog-recording">Edit Analog Recording</a></li>
            </ul>

            <ul>
                <li><a routerLink="/add-workstation">Add Workstation</a></li>
                <li><a routerLink="/consult-workstations">Consult Workstation</a></li>
                <li><a routerLink="/edit-workstation">Edit Workstation</a></li>
            </ul>
        </div>
    </main>
</body>
