<app-header></app-header>
<main class="vhHeight">
    <div class="container">
        <ul>
            <li><a routerLink="/add-ip-camera">Add IP Camera</a></li>
            <li><a routerLink="/consult-ip-cameras">Consult IP Camera</a></li>
        </ul>

        <ul>
            <li><a routerLink="/add-analog-camera">Add Analog Camera</a></li>
            <li><a routerLink="/consult-analog-cameras">Consult Analog Camera</a></li>
        </ul>

        <ul>
            <li><a routerLink="/add-ip-recording">Add IP Recording</a></li>
            <li><a routerLink="/consult-ip-recording">Consult IP Recording</a></li>
        </ul>

        <ul>
            <li><a routerLink="/add-analog-recording">Add Analog Recording</a></li>
            <li><a routerLink="/consult-analog-recording">Consult Analog Recording</a></li>
        </ul>

        <ul>
            <li><a routerLink="/add-workstation">Add Workstation</a></li>
            <li><a routerLink="/consult-workstations">Consult Workstation</a></li>
        </ul>
    </div>
</main>

