
<div class="modAuth" data-mode="">
    <div class="signup" data-referer="/">
    <div class="form form-reset">
        <a class="logo" href="#">
            <img src="..//../../assets/login/logo.png" alt="Logo" height="40">
        </a>

        <h2 class="title_forms">Reset password</h2>
        <form method="post" action="#">
            <div class="msg-error">Invalid username or password</div>              
                                    
            <div class="external-login">
                <input class="fld email" id="email" type="email" name="email" [(ngModel)]="user.email" (change)="validateInput($event)" placeholder="Email">
                <input class="fld password" id="password" type="password" name="password" [(ngModel)]="user.password" (change)="validateInput($event)" #password="ngModel" placeholder="Password">
                <input class="fld confirm-password" id="confirm-password" name="confirm-password" type="password" (change)="validateInput($event)" placeholder="Confirm password">
                

                <a routerLink="/login" class="col-sm-5 btn-cancel">Cancel</a>
                <label class="col-sm-2"></label>
                <a (click)="resetPassword()" class="col-sm-5 btn-reset">Reset</a>
                
            </div>
        </form>
    </div>
</div>
