
<div class="modAuth" data-mode="">
    <div class="signup" data-referer="/">
    <div class="form form-reset">
        <a class="logo" href="#">
            <img src="..//../../assets/login/logo.png" alt="Logo" height="40">
        </a>

        <h2 class="title_forms">Reset password</h2>
        <form method="post" action="#">
            <div class="msg-error">Invalid username or password</div>              
                                    
            <div class="external-login">
                <input class="fld email" name="email" type="text" placeholder="Email">
                <input class="fld password" name="password" type="password" placeholder="Password">
                <input class="fld confirm-password" name="password" type="password" placeholder="Confirm password">
                

                <a routerLink="/login" class="col-sm-5 btn-cancel">Cancel</a>
                <label class="col-sm-2"></label>
                <a routerLink="/login" class="col-sm-5 btn-reset">Reset</a>
                
            </div>
        </form>
    </div>
</div>
