<app-header></app-header>

<main class="vhHeight">
  <div class="loader" *ngIf="loading"></div>

  <div class="container">
    <div class="col-xs-12 col-sm-8 col-sm-push-2" id="callOut"></div>

    <form id="addProductForm" class="mwf-form" #formControl="ngForm" method="POST">

      <!-- progressbar -->
      <ul id="progressbar" class="col-xs-12 col-sm-8 col-sm-push-2">
        <li class="step active"></li>
        <li class="step"></li>
        <li class="step"></li>
        <li class="step"></li>
        <li class="step"></li>
      </ul>

      <!--First section of form
        General information
      -->
      <div class="tab col-xs-12 col-sm-8 col-sm-push-2">
        <ul>      
          <li class="mwf-field">
            <h3>General information</h3>
            <hr>
          </li>

          <!-- Name Input -->
          <li class="mwf-field">
              <label class="mwf-label mwf-label-input">
                Name
                <span class="mwf-required">*</span>
              </label>
            <div class="mwf-input">
              <input class="mwf-text" id="name" name="name" [(ngModel)]="analogCamera.name" (change)="validateInput($event)" #name="ngModel" type="text" maxlength="255">
            </div>
          </li>

          <!-- Family Input -->
          <li class="mwf-field mwf-m">
            <label class="mwf-label mwf-label-input">
              Family
            </label>
            <div class="mwf-input">
              <select class="mwf-select mwf-multiple" id="family" name="family" [(ngModel)]="analogCamera.family" #family="ngModel">
                <option class="mwf-select-option" *ngFor="let family of families" value="{{family}}">{{family}}</option>
              </select>
            </div>
          </li>

          <!-- Category Input -->
          <li class="mwf-field mwf-m">
            <label class="mwf-label mwf-label-input">
              Category
              <span class="mwf-required">*</span>
            </label>
            <div class="mwf-input">
              <select class="mwf-select" id="category" name="category" [(ngModel)]="analogCamera.category" #category="ngModel">
                <option class="mwf-select-option" *ngFor="let category of categories" value="{{category}}">{{category}}</option>
              </select>
            </div>
          </li>

          <!-- CTN Class Input -->
          <li class="mwf-field mwf-m">
              <label class="mwf-label mwf-label-input">
                  CtnClass
                  <span class="mwf-required">*</span>
                </label>
            <div class="mwf-input">
              <input class="mwf-text" id="ctnClass" name="ctnClass" [(ngModel)]="analogCamera.ctnClass" (change)="validateInput($event)" #ctnClass="ngModel" type="text" maxlength="255">
            </div>
          </li>

          <!-- ctnclassfull Input -->
          <li class="mwf-field mwf-m">
            <label class="mwf-label mwf-label-input">
              CtnClassFull
              <span class="mwf-required">*</span>
            </label>
            <div class="mwf-input">
              <input class="mwf-text" id="ctnClassFull" name="ctnClassFull" [(ngModel)]="analogCamera.ctnClassFull" (change)="validateInput($event)" #ctnClassFull="ngModel" type="text" maxlength="255">
            </div>
          </li>

          <!-- Price Input -->
          <li class="mwf-field">
            <label class="mwf-label mwf-label-input">
              Price
              <span class="mwf-required">*</span>
            </label>
            <div class="mwf-input">
              <input class="mwf-text" id="price" name="price" [(ngModel)]="analogCamera.price" #price="ngModel" (change)="validateInput($event)" type="number" min="0" max="99999" step="0.00000">
            </div>
          </li>

          <!--Image uploader-->
          <div class="mwf-field fileUploader">
            <span>Please upload the product image.</span>
            <br />
            <br />
            <div class="fileUploader-dropzone">
              <input type="file" name="image" id="uploaderImage" (change)="preview_image($event)" accept="image/*">
              <label for="file1" class="fileUploader-label">Drop files here to attach them</label>
              <button class="btn-Uploader" type="">
                Select image
              </button>
            </div>

            <!--Div to load the files selected and the button to delete-->
            <div  id="image-list" class="image-list">

            </div>
          </div>

          <div class="mwf-field fileUploader">
            <span>Please upload the datasheet of the product.</span>
            <br />
            <br />
            <div class="fileUploader-dropzone">
              <input type="file" name="datasheet" id="file1" (change)="onLoadDataSheet()" accept="application/pdf">
              <label for="file1" class="fileUploader-label">Drop files here to attach them</label>
              <button class="btn-Uploader" type="">
                Select files
              </button>
            </div>
  
            <!--Div to load the files selected and the button to delete-->
            <div id="files-list"></div>
          </div>
        </ul>
      </div>

      <!--
        Third section of form
        Basic and Advanced Features
      -->
      <div class="tab col-xs-12 col-sm-8 col-sm-push-2">
        <!--Basic Features area-->
        <ul>      
          <li class="mwf-field">
            <h3>Basic Features</h3>
            <hr>
          </li>

          <!-- Resolution Input -->
          <li class="mwf-field mwf-m">
            <label class="mwf-label mwf-label-input">
              Resolution
              <span class="mwf-required">*</span>
            </label>
            <div class="mwf-input">
              <input class="mwf-text" id="maxResolution" name="maxResolution" [(ngModel)]="analogCamera.basicFeatures.maxResolution" (change)="validateInput($event)" #maxResolution="ngModel" type="text" maxlength="255">
            </div>
          </li>

          <!-- Image Sensor type Input -->
          <li class="mwf-field mwf-m">
            <label class="mwf-label mwf-label-input">
              Image sensor type
              <span class="mwf-required">*</span>
            </label>
            <div class="mwf-input">
              <input class="mwf-text" id="sensorType" name="sensorType" [(ngModel)]="analogCamera.basicFeatures.sensorType" (change)="validateInput($event)" #sensorType="ngModel" type="text" maxlength="255">
            </div>
          </li>

          <!-- indoorOutdoor Input -->
          <li class="mwf-field mwf-m">
              <label class="mwf-label mwf-label-input">
                  Indoor/outdoor
                  <span class="mwf-required">*</span>
                </label>
            <div class="mwf-input">
              <select class="mwf-select mwf-multiple" id="indoorOutdoor" name="indoorOutdoor" [(ngModel)]="analogCamera.basicFeatures.indoorOutdoor" #indoorOutdoor="ngModel">
                <option class="mwf-select-option" *ngFor="let indoor of indoorOutdoorArray" value="{{indoor}}">{{indoor}}</option>
              </select>
            </div>
          </li>

          <!-- dayNight Input -->
          <li class="mwf-field mwf-m">
            <label class="mwf-label mwf-label-input">
              Day/night
              <span class="mwf-required">*</span>
            </label>
            <div class="mwf-input">
              <select class="mwf-select mwf-multiple" id="dayNight" name="dayNight" [(ngModel)]="analogCamera.basicFeatures.dayNight" (change)="validateInput($event)" #dayNight="ngModel">
                <option class="mwf-select-option" *ngFor="let day of dayNightArray" value="{{day}}">{{day}}</option>
              </select>
            </div>
          </li>

          <!-- Wide dynamic range Input -->
          <li class="mwf-field">
            <label class="mwf-label mwf-label-input">
              Wide Dynamic Range
              <span class="mwf-required">*</span>
            </label>
            <div class="mwf-input">
              <input class="mwf-text" id="wideDinamicRange" name="wideDinamicRange" [(ngModel)]="analogCamera.basicFeatures.wideDinamicRange" (change)="validateInput($event)" #wideDinamicRange="ngModel" type="text" maxlength="255">
            </div>
          </li>

          <!-- Checkboxes -->
          <li class="mwf-field">              
            <div class="mwf-input">
              <fieldset>
                <span class="mwf-option">
                  <input type="checkbox" class="mwf-checkbox" id="irSensitive" name="irSensitive" [(ngModel)]="analogCamera.basicFeatures.irSensitive" (change)="validateInput($event)" #irSensitive="ngModel">
                  <label for="irSensitive">IR Sensitive</label>
                </span>
              </fieldset>
            </div>
          </li>
        </ul>

        <!--Advanced Features area-->
        <ul>      
          <li class="mwf-field">
            <h3>Advanced Features</h3>
            <hr>
          </li>

          <!-- Checkboxes -->
          <li class="mwf-field">              
            <div class="mwf-input">
              <fieldset>
                <!--privacy masking input-->
                <span class="mwf-option">
                  <input type="checkbox" class="mwf-checkbox" id="privacyMasking" name="privacyMasking" [(ngModel)]="analogCamera.advancedFeatures.privacyMasking" (change)="validateInput($event)" #privacyMasking="ngModel">
                  <label for="privacyMasking">Privacy masking</label>
                </span>
              </fieldset>
            </div>
          </li>
        </ul>
      </div>

      <!--
        Fourth section of form
        Alarm triggering, sensitivity and dcri
      -->
      <div class="tab col-xs-12 col-sm-8 col-sm-push-2">
        <!--Alarm triggering area-->
        <ul>      
          <li class="mwf-field">
            <h3>Alarm triggering</h3>
            <hr>
          </li>

          <!-- Checkboxes -->
          <li class="mwf-field">              
            <div class="mwf-input">
              <fieldset>
                <!--Tamper input-->
                <span class="mwf-option">
                  <input type="checkbox" class="mwf-checkbox" id="tamperDetection" name="tamperDetection" [(ngModel)]="analogCamera.alarmTriggering.tamperDetection" (change)="validateInput($event)" #tamperDetection="ngModel">
                  <label for="tamperDetection">Tamper detection</label>
                </span>

                <!--Motion detection input-->
                <span class="mwf-option">
                  <input type="checkbox" class="mwf-checkbox" id="videoMotionDetection" name="videoMotionDetection" [(ngModel)]="analogCamera.alarmTriggering.videoMotionDetection" (change)="validateInput($event)" #videoMotionDetection="ngModel">
                  <label for="videoMotionDetection">Video motion detection</label>
                </span>
              </fieldset>
            </div>
          </li>
        </ul>

        <!--Sensitivity area-->
        <ul>      
          <li class="mwf-field">
            <h3>Sensitivity</h3>
            <hr>
          </li>

          <!-- Min illumination day mode Input -->
          <li class="mwf-field mwf-m">
            <label class="mwf-label mwf-label-input">
              Min ilumination day mode (color)
              <span class="mwf-required">*</span>
            </label>
            <div class="mwf-input">
              <input class="mwf-text" id="minIluminationDayMode" name="minIluminationDayMode"  type="number" min="0" max="99999" step="0.00000" [(ngModel)]="analogCamera.sensitivity.minIluminationDayMode" (change)="validateInput($event)" #minIluminationDayMode="ngModel">
            </div>
          </li>

          <!-- Min Illuminattion night mode Input -->
          <li class="mwf-field mwf-m">
            <label class="mwf-label mwf-label-input">
              Min illumination night mode (B/W)
              <span class="mwf-required">*</span>
            </label>
            <div class="mwf-input">
              <input class="mwf-text" id="minIlluminationNightMode" name="minIlluminationNightMode"  type="number" min="0" max="99999" step="0.00000" [(ngModel)]="analogCamera.sensitivity.minIlluminationNightMode" (change)="validateInput($event)" #minIlluminationNightMode="ngModel">
            </div>
          </li>

          <!-- maxRangeAtNight mode Input -->
          <li class="mwf-field ">
            <label class="mwf-label mwf-label-input">
              Max Range at Night
              <span class="mwf-required">*</span>
            </label>
            <div class="mwf-input">
              <input class="mwf-text" id="maxRangeAtNight" name="maxRangeAtNight"  type="number" min="0" max="99999" step="0.00000" [(ngModel)]="analogCamera.sensitivity.maxRangeAtNight" (change)="validateInput($event)" #maxRangeAtNight="ngModel">
            </div>
          </li>

          <!-- Checkboxes -->
          <li class="mwf-field">              
            <div class="mwf-input">
              <fieldset>
                <!-- nightVision Input -->
                <span class="mwf-option">
                  <input type="checkbox" class="mwf-checkbox" id="nightVision" name="nightVision" [(ngModel)]="analogCamera.sensitivity.nightVision" (change)="validateInput($event)" #nightVision="ngModel">
                  <label for="nightVision">Integrated IR-lighting</label>
                </span>
              </fieldset>
            </div>
          </li>
        </ul>
      </div>

      <!--
      Fifth section of form
      Lens and connectiond Features
      -->
      <div class="tab col-xs-12 col-sm-8 col-sm-push-2">
        <!--Lens area-->
        <ul>      
          <li class="mwf-field">
            <h3>Lens</h3>
            <hr>
          </li>

          <!-- focalLengthFrom Input -->
          <li class="mwf-field mwf-m">
            <label class="mwf-label mwf-label-input">
              Focal Length From
              <span class="mwf-required">*</span>
            </label>
            <div class="mwf-input">
              <input class="mwf-text" id="focalLengthFrom" name="focalLengthFrom" [(ngModel)]="analogCamera.lens.focalLengthFrom" (change)="validateInput($event)" #focalLengthFrom="ngModel" type="number" min="0" max="99999" step="0.00000">
            </div>
          </li>

          <!-- focalLengthTill Input -->
          <li class="mwf-field mwf-m">
            <label class="mwf-label mwf-label-input">
              Focal Length Till
              <span class="mwf-required">*</span>
            </label>
            <div class="mwf-input">
              <input class="mwf-text" id="focalLengthTill" name="focalLengthTill" [(ngModel)]="analogCamera.lens.focalLengthTill" (change)="validateInput($event)" #focalLengthTill="ngModel" type="number" min="0" max="99999" step="0.00000">
            </div>
          </li>

          <!-- minAngleH Input -->
          <li class="mwf-field mwf-m">
            <label class="mwf-label mwf-label-input">
              Min. view angle (H)
              <span class="mwf-required">*</span>
            </label>
            <div class="mwf-input">
              <input class="mwf-text" id="minAngleH" name="minAngleH" [(ngModel)]="analogCamera.lens.minAngleH" (change)="validateInput($event)" #minAngleH="ngModel" type="number" min="0" max="99999" step="0.00000">
            </div>
          </li>

          <!-- maxAngleH Input -->
          <li class="mwf-field mwf-m">
            <label class="mwf-label mwf-label-input">
              Max. view angle (H)
              <span class="mwf-required">*</span>
            </label>
            <div class="mwf-input">
              <input class="mwf-text" id="maxAngleH" name="maxAngleH" [(ngModel)]="analogCamera.lens.maxAngleH" (change)="validateInput($event)" #maxAngleH="ngModel" type="number" min="0" max="99999" step="0.00000">
            </div>
          </li>

          <!-- tilt angle Input -->
          <li class="mwf-field">
            <label class="mwf-label mwf-label-input">
              Tilt Angle
              <span class="mwf-required">*</span>
            </label>
            <div class="mwf-input">
              <input class="mwf-text" id="tiltAngle" name="tiltAngle" [(ngModel)]="analogCamera.lens.tiltAngle" (change)="validateInput($event)" #tiltAngle="ngModel" type="text" maxlength="255">
            </div>
          </li>

          <!-- Checkboxes -->
          <li class="mwf-field">              
            <div class="mwf-input">
              <fieldset>
                <!--ptzZoomDigital INPUT-->
                <span class="mwf-option">
                  <input type="checkbox" class="mwf-checkbox" id="ptzZoomDigital" name="ptzZoomDigital" [(ngModel)]="analogCamera.lens.ptzZoomDigital" (change)="validateInput($event)" #ptzZoomDigital="ngModel">
                  <label for="ptzZoomDigital">PTZ Digital Zoom</label>
                </span>
                <!--ptzOpticalZoom lens INPUT-->
                <span class="mwf-option">
                  <input type="checkbox" class="mwf-checkbox" id="ptzOpticalZoom" name="ptzOpticalZoom" [(ngModel)]="analogCamera.lens.ptzOpticalZoom" (change)="validateInput($event)" #ptzOpticalZoom="ngModel">
                  <label for="ptzOpticalZoom">PTZ Optical Zoom</label>
                </span>
              </fieldset>
            </div>
          </li>
        </ul>

        <!--Connections area-->
        <ul>      
          <li class="mwf-field">
            <h3>Connections</h3>
            <hr>
          </li>

          <!-- Checkboxes -->
          <li class="mwf-field">              
            <div class="mwf-input">
              <fieldset>
                <!--Alarm input/output INPUT-->
                <span class="mwf-option">
                  <input type="checkbox" class="mwf-checkbox" id="alarmInputOutput" name="alarmInputOutput" [(ngModel)]="analogCamera.connections.alarmInputOutput" (change)="validateInput($event)" #alarmInputOutput="ngModel">
                  <label for="alarmInputOutput">Alarm input/output</label>
                </span>
              </fieldset>
            </div>
          </li>
        </ul>

            <!--Housing area-->
        <ul>      
          <li class="mwf-field">
            <h3>Housing</h3>
            <hr>
          </li>

          <!-- weatherRating Input -->
          <li class="mwf-field mwf-m">
            <label class="mwf-label mwf-label-input">
              Weather rating
              <span class="mwf-required">*</span>
            </label>
            <div class="mwf-input">
              <input class="mwf-text" id="weatherRating" name="weatherRating" [(ngModel)]="analogCamera.housing.weatherRating" (change)="validateInput($event)" #weatherRating="ngModel" type="text" maxlength="255">
            </div>
          </li>

          <!-- vandalResistant Input -->
          <li class="mwf-field mwf-m">
            <label class="mwf-label mwf-label-input">
              Vandal resistant
              <span class="mwf-required">*</span>
            </label>
            <div class="mwf-input">
              <input class="mwf-text" id="vandalResistant" name="vandalResistant" [(ngModel)]="analogCamera.housing.vandalResistant" (change)="validateInput($event)" #vandalResistant="ngModel" type="text" maxlength="255">
            </div>
          </li>

          <!-- operatingTemperature Input -->
          <li class="mwf-field">
            <label class="mwf-label mwf-label-input">
              Operating temperature
              <span class="mwf-required">*</span>
            </label>
            <div class="mwf-input">
              <input class="mwf-text" id="operatingTemperature" name="operatingTemperature" [(ngModel)]="analogCamera.housing.operatingTemperature" (change)="validateInput($event)" #operatingTemperature="ngModel" type="text" maxlength="255">
            </div>
          </li>
        </ul>
      </div>

      <!--
      Seventh section of form
      Accessories
      -->
      <div class="tab col-xs-12 col-sm-8 col-sm-push-2">
        <ul>
          <li class="mwf-field">
            <h3>Product Accessories</h3>
            <hr>
          </li>
          <!--Accessories area-->
          <li class="mwf-field" id="accessories-container">
            <mat-card *ngFor="let accessory of accessories; let count = index">
              <div class="row">
                <div class="col-md-3">
                  <img class="img-responsive" src="{{imagesAccessories[count]}}" alt="Photo of a Shiba Inu">
                </div>
                <div class="col-md-7">
                  <ul>
                    <li>
                      <mat-card-title>{{accessory.name}}</mat-card-title>
                    </li>
                    <li>
                      <span class="card-content">{{accessory.ctnClassFull}}</span>	
                    </li>
                    <li>
                      <span class="card-content">{{accessory.description}}</span>                
                    </li>
                  </ul>                
                </div>
                <div class="col-md-2">
                  <ul>
                      <li class="mwf-field">              
                          <div class="mwf-input">
                            <fieldset >
                              <!--Corrosion proof INPUT-->
                              <span class="mwf-option">
                                <input type="checkbox" *ngIf="checkedAccessories[count] == true" class="mwf-checkbox accessories" name="{{accessory.id}}" id="{{accessory.id}}" checked>
                                <input type="checkbox" *ngIf="checkedAccessories[count] == false" class="mwf-checkbox accessories" name="{{accessory.id}}" id="{{accessory.id}}">                      
                                <label for="{{accessory.id}}"></label>
                              </span>
                              <!-- <span class="mwf-option" *ngIf="checkedAccessories[count] == false">
                                <input type="checkbox" class="mwf-checkbox accessories" name="{{accessory.id}}" id="{{accessory.id}}">                      
                                <label for="{{accessory.id}}"></label>
                              </span> -->
                            </fieldset>
                          </div>
                        </li>
                  </ul>
                </div>
            
              </div>
            </mat-card>
          </li>
        </ul>
      </div>
  
      <!--Buttons-->
      <div class="col-xs-12 col-sm-8 col-sm-push-2 forms-buttons col-xs-12">
        <div class="form-back-button">
          <button class="btn-Primary" type="button" id="prevBtn" (click)="nextPrev(-1)">Back</button>
        </div>

        <div class="form-next-button">
          <button class="btn-Secondary" routerLink="/consult-analog-cameras" type="button" style="margin-right: 5px;">Cancel</button>
          <button class="btn-Primary" type="button" id="nextBtn" (click)="nextPrev(1)">Next</button>            
        </div>
      </div>

    </form>
  </div>

</main>