<body>
    <div class="modAuth">
        <div class="signup">
            <div class="form form-request">
                <a class="logo" href="#">
                    <img src="../../../assets/login/logo.png" alt="Logo" height="40">
                </a>

                <h2 class="title_forms">Request access</h2>

                <p class="request-paragraph">To activate your access to the Bosch Building Installation  Technology System Admin area you have to register. With a click 
                    on the 'Request Access' button, you agree that your personal data will be processed. Within the
                    scope of the registration.
                </p>

                <form method="post" action="#">
                    <div class="msg-error">Invalid username or password</div>              
                                            
                    <div class="external-login">
                        <input class="fld email" name="email" type="text" placeholder="Email">


                        <a routerLink="/login" class="col-sm-5 btn-cancel">Cancel</a>
                        <label class="col-sm-2"></label>
                        <a routerLink="/login" class="col-sm-5 btn-reset">Request</a>

                    </div>
                </form>

            </div>
        </div>
    </div>
</body>