.pagination {
    width: 100%;
    text-align: center;
}
.custom-pagination /deep/ .ngx-pagination {
    margin-top: 20px;
    display: inline-block;
}

.custom-pagination /deep/ .ngx-pagination ul {
    margin: 0;
    position: absolute;
    left: 50%;
}

.custom-pagination /deep/ .ngx-pagination .current {
    border-radius: 50%;
    background-color: rgb(0, 86, 145);
}

.custom-pagination /deep/ .ngx-pagination a {
    border-radius: 50%;
}

.custom-pagination /deep/ .ngx-pagination a:hover {
    background-color: rgb(127, 198, 231);
    color: white;
}

.custom-pagination /deep/ .ngx-pagination a:active {
    background-color: rgb(0, 124, 207);
    color: white;
}

.custom-pagination /deep/ .ngx-pagination .pagination-previous a::before, .ngx-pagination .pagination-previous.disabled::before {
    content: '<';
}

.custom-pagination /deep/ .ngx-pagination .pagination-next a::after, .ngx-pagination .pagination-next.disabled::after {
    content: '>';
}

.details{
    background-image: url('./../../../../assets/ico/bosch-ic-summary-black.svg');
    border: 0;
}

.edit{
    background-image: url('./../../../../assets/ico/bosch-ic-edit-black.svg')
}

.delete{
    background-image: url('./../../../../assets/ico/bosch-ic-delete-black.svg')
}

.btn-image {
    content: "";
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: text-top;
    background-color: transparent;
    background-position : center center;
    background-repeat:no-repeat;
    border: 0;
}

.details:hover {
    background-color:rgb(127,198,231);
    border-color: rgb(127,198,231);
    background-image: url('./../../../../assets/ico/bosch-ic-summary-white.svg')
}

.details:active {
    background-color:rgb(0,142,207);
    border-color: rgb(0,142,207);
    background-image: url('./../../../../assets/ico/bosch-ic-summary-white.svg')
}

.edit:hover {
    background-color:rgb(127,198,231);
    border-color: rgb(127,198,231);
    background-image: url('./../../../../assets/ico/bosch-ic-edit-white.svg')
}

.edit:active {
    background-color:rgb(0,142,207);
    border-color: rgb(0,142,207);
    background-image: url('./../../../../assets/ico/bosch-ic-edit-white.svg')
}

.delete:hover {
    background-color:rgb(127,198,231);
    border-color: rgb(127,198,231);
    background-image: url('./../../../../assets/ico/bosch-ic-delete-white.svg')
}

.delete:active {
    background-color:rgb(0,142,207);
    border-color: rgb(0,142,207);
    background-image: url('./../../../../assets/ico/bosch-ic-delete-white.svg')
}

.actions-buttons{
    text-align: center;
}

.A-Link__link {
    font-size: 16px;
    margin-bottom: 20px;
}